*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.DS_Store
.bsp
.cache
.env
.idea
.lib
.terraform
dist/*
test-reports/*
target
/newman
node_modules

.docker-*
*-stack.yaml