arduino = {
    ip = 127.0.0.1
    port   = 8888
    response-timeout  = 5 // seconds
    station-name = "call"
}
aprs = {
  connection-callsign = "call"
  port = 14580
  hostname = "rotate.aprs.net"

  stations = [
    { callsign = "call", panels-index = 3, battery-index = 0}
  ]
}

influx = {
  host = "localhost"
  host = ${?INFLUX_HOST}
  port = 8086
  port = ${?INFLUX_PORT}
  token = ${INFLUX_TOKEN}
  org = "org"
  org = ${?INFLUX_ORG}
  bucket = "repeater"
  bucket = ${?INFLUX_BUCKET}
}

